# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change-me
DB_NAME=omnia

# JWT
JWT_SECRET=change-me-super-secret
JWT_EXPIRATION=86400
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
ALLOW_RATE_UPDATES=false

# SMTP / Email OTP
SMTP_HOST=mail.tudominio.com
SMTP_PORT=587
SMTP_USER=tu-correo@tudominio.com
SMTP_PASS=tu-clave-smtp
SMTP_FROM=Omnia <tu-correo@tudominio.com>

# HTTPS SSL
SSL_CERT_PATH=/etc/ssl/virtualmin/169101429759701/ssl.combined
SSL_KEY_PATH=/etc/ssl/virtualmin/169101429759701/ssl.key

# App
PORT=4001
API_PORT_PRODUCCION=4001
API_PORT_DESARROLLO=5001
NODE_ENV=production
CORS_ORIGIN=https://tu-frontend.com,https://ecashlottery.com
